@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  > div {
    width: 100%;
    flex: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
b {
  font-weight: 700;
}
@import "~bootstrap/scss/bootstrap.scss";
p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
h1,
h2,
h3 {
  margin-bottom: 0;
}
html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222222;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 400ms ease all;
  cursor: pointer;
  &:hover {
    opacity: 0.67;
  }
}
h1 {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  font-weight: 700;
}
h2 {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  font-weight: 700;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .global-loader {
    margin-top: 60px;
    width: 100%;
    height: 100%;
  }
  .child {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    flex: 1 1;
    margin-top: 60px;
  }
}

button.yellow {
  border-radius: 16px;
  border: none;
  background-color: #f3b41b;
  transition: 0.3s ease;
  padding-block: 8px;
  padding-inline: 24px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.input-span {
  width: 100%;
  position: relative;
  .error-text {
    position: absolute;
    color: red;
    font-size: 0.8rem !important;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  span {
    color: #f3b41b;
  }
  input {
    + label {
      font-size: 1.2rem;
      color: #f3b41b;
      font-weight: 600;
      position: absolute;
      left: 18px;
      top: 0.5rem;
      pointer-events: none;
      transition: 0.3s ease;
    }
    &:not(:placeholder-shown) {
      border-bottom: 1px solid #f3b41b;
      + label {
        transition: 0.3s ease;
        color: #f3b41b;
        font-size: 1rem;
        transform: translate(-10px, -32px);
      }
    }
    &:focus {
      + label {
        font-size: 1rem;
        transition: 0.3s ease;
        color: #f3b41b;
        transform: translate(-10px, -25px);
      }
    }
    &::placeholder {
      visibility: hidden;
    }
  }
}
